footer {
    background-color: white;

    padding: 86px 20px;
}

footer .container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */

    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    
    justify-content: space-between;
    
}

i {
    color: gray;
    font-size: 35px;

    transition: 250ms;
}

a:hover,
i:hover {
    color: #ff6375;
}

.footer-left {
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-middle {
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: #000000;
    font-size: 25px;
    font-weight: 400;
}

.footer-middle a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-middle i {
    color: #ff2f96;
    font-size: 20px;
    margin-right: 15px;
}

.footer-right button {
    padding: 16px 61px;

    color: #ff6375;
    font-size: 16px;
    font-weight: 400;

    background-color: unset;
    border: 1px solid #ff6375;
}

.footer-right button:hover {
    color: white;

    background-color: #ff6375;
    border: 1px solid transparent;
}

.links {
    margin-top: 38px;

    display: flex;
    justify-content: space-between;
}