.services {
    background-color: white;
    padding: 20px;
}

.services div {
    padding: 99px 0;
}

.services-list {
    margin: 93px auto 0 auto;
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.services-list li {
    display: inline;
    text-align: center;
    margin: 0 auto;
}

.services-list li p {
    margin-top: 24px;

    color: #8993ad;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.services .container {
    display: flex;
    flex-direction: column;
}

.get-price-link {
    margin: 95px auto 0 auto;
}

.get-price {
    padding: 24px 59px;

    border: 1px solid transparent;

    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    background-color: #ff4e2e;
}

.get-price:hover {
    border: 1px solid #ff4e2e;

    color: #ff4e2e;
    background-color: unset;
}

.get-price:active {
    border: 1px solid #ff4e2e;

    color: white;
    background-color: #ff4e2e;
}