#menu-btn {
    display: none;
}

.upper-menu {
    background-color: rgba(255, 255, 255, 0.45);
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 2;
    padding: 10px;
}

.upper-menu nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    width: 279px;
    height: fit-content;

    color: #1f1f24;
    font-size: 16px;
    font-weight: 400;
}

.navbar-left a:hover {
    color: #f53f4f;
    padding-bottom: 3px;
    border-bottom: 1px solid #f53f4f;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 456px;
}

.navbar-number {
    color: #1f1f24;
    font-size: 25px;
    font-weight: 700;
}

.navbar-right button {
    padding: 15px 41px;

    color: #f53f4f;
    border: 1px solid #f53f4f;
    font-size: 16px;
    font-weight: 400;

    background-color: unset;
}

.navbar-right button:hover {
    background-color: #f53f4f;
    border: 1px solid transparent;
    color: white;
}

.navbar-right button:active {
    background-color: #1f1f24;
    color: white;
}

#menu-btn {
    color: #ff2f96;
}