@media (max-width: 1024px) {

    .services-list {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 125px;
        grid-row-gap: 86px;
    }

    .services-list li {
        max-width: 270px;
    }

    .upper-menu nav {
        align-items: flex-start;
    }

    .menu-container {
        margin-top: 7px;
    }

    .navbar-left {
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;

        display: none;
    }

    .navbar-left li {
        margin-top: 15px;
        font-size: 25px;
    }

    #menu-btn {
        display: block;
    }

}

@media (max-width: 700px) {

    .services-list {
        grid-template-columns: 1fr;
        grid-column-gap: 125px;
        grid-row-gap: 86px;
    }

    .services-list li {
        max-width: 270px;
    }

    footer .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;


        justify-content: center;
    }

    .footer-right button {
        width: 100%;
    }

}

@media (max-width: 610px) {

    .navbar-right .phone-number {
        display: none;
    }

    .phone-number-mobile {
        display: block;
    }

    .upper-menu {
        position: unset;
    }

}