* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #fbfbfb;
}

button {
    transition: 250ms;
    cursor: pointer;
}

button:focus {
    outline: none;
}

h2 {
    color: #262626;
    font-size: 54px;
    font-weight: 700;
    text-align: center;
}

a {
    text-decoration: none;
    color: #1f1f24;

    transition: 250ms;
}

ul li {
    list-style: none;
}

.phone-number {
    white-space: nowrap
}